<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Debug</title>

  
</head>
<body>
<br>Provider:<br>
<a href='{:U("Provider/buybiaoshu")}'>buybiaoshu</a><br>
<a href='{:U("Provider/castService")}'>castService</a><br>
<a href='{:U("Provider/managebiaoshu")}'>managebiaoshu</a><br>
<a href='{:U("Provider/manageservice")}'>manageservice</a><br>
<a href='{:U("Provider/ownbiaoshu")}'>ownbiaoshu</a><br>
<a href='{:U("Provider/personal")}'>personal</a><br>
<a href='{:U("Provider/projectlib")}'>projectlib</a><br>
<a href='{:U("Provider/spread")}'>spread</a><br>

<br>HR:<br>
<a href='{:U("HR/castbiaoshu")}'>castbiaoshu</a><br>
<a href='{:U("HR/corpinfo")}'>corpinfo</a><br>
<a href='{:U("HR/detailbiaoshu")}'>detailbiaoshu</a><br>
<a href='{:U("HR/personal")}'>personal</a><br>
<a href='{:U("HR/receivebiaoshu")}'>receivebiaoshu</a><br>
<a href='{:U("HR/startbiaoshu")}'>startbiaoshu</a><br>
<a href='{:U("HR/testdetail")}'>testdetail</a><br>

<br>Index:<br>
<a href='{:U("User/login")}'>login</a><br>
</body>
</html>