body{background: #303030}


.personItem{overflow: hidden;padding-top: 4rem;}
.personItem-headshot{float: left;background: #fff;width: 11rem;height: 11rem;border-radius: 50%;margin:0 4rem}
.personItem-content{overflow: hidden;border-bottom:4px solid #fff;padding-bottom: 4rem}
.personItem-content p{color:#ffffff;font-size: 4rem;}
.personItem-content h3{color:#fbae17;font-size: 3rem;margin-top: 2rem}
.personItem-content .personItem-divider{width: 100%;height: 4px;background: #fff;margin-top: 4rem;clear: both}
.personItem-content-column1{float: left;overflow: hidden}
.personItem-content-column2{float: right}
.personItem-content-column2 .more{margin:4rem 4rem 0 0;width: 4rem;height: 4rem;background: #fff;border-radius: 50%;color: #303030;text-align: center;line-height: 4rem;font-size: 2rem;font-weight: bold}



