<include file="Public:header"/>
<div class="container" style="margin-top: 60px">
    <div class="row">
        <div class="col-md-3 sidebar">
            <include file="Public:hrSidebar"/>
        </div>
        <div class="col-md-6 offset1">
            <table class="table table-responsive">
                <tbody>
                <tr>
                    <td>姓名</td>
                    <td><input name="name" type="text" class="form-control" value="$name"/></td>
                </tr>
                <tr>
                    <td>身份证号</td>
                    <td><input name="idcard" type="text" class="form-control" value="$idcard"/></td>
                </tr>
                <tr>
                    <td>性别</td>
                    <td>
                        <input name="sex" type="text" class="form-control" value="$sex"/>
                    </td>
                </tr>
                <tr>
                    <td>婚否</td>
                    <td>
                        <input name="marrige" type="text" class="form-control" value="$marriage"/>
                    </td>
                </tr>
                <tr>
                    <td>手机号1</td>
                    <td>
                        <input name="phone1" type="text" class="form-control" value="$phone1"/>
                    </td>
                </tr>
                <tr>
                    <td>手机号2</td>
                    <td>
                        <input name="phone2" type="text" class="form-control" value="$phone2"/>
                    </td>
                </tr>
                <tr>
                    <td>座机</td>
                    <td>
                        <input name="phone3" type="text" class="form-control" value="$phone3"/>
                    </td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td>
                        <input name="email" type="text" class="form-control" value="$email"/>
                    </td>
                </tr>
                <tr>
                    <td>就职单位</td>
                    <td>
                        <input name="workin" type="text" class="form-control" value="$workin"/>
                    </td>
                </tr>
                <tr>
                    <td>职务</td>
                    <td>
                        <input name="career" type="text" class="form-control" value="$career"/>
                    </td>
                </tr>
                <tr>
                    <td>设置昵称</td>
                    <td>
                        <input name="nickname" type="text" class="form-control" value="$nickname"/>
                    </td>
                </tr>
                <tr>
                    <td>上传头像图片</td>
                    <td>
                        <input name="pic" type="file" class="form-control" value="$touxiang"/>
                    </td>
                </tr>
                <tr>
                    <td>上传名片</td>
                    <td>
                        <input name="namecard" type="file" class="form-control" value="$namecard"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6"><p>{$time}日通过审核</p></div>
                <div class="col-md-6"><input type="button" class="btn" value="修改"/></div>
            </div>
        </div>
    </div>
</div>
<include file="Public:footer"/>