<include file="Public:header"/>
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-3 sidebar">
            <include file="Public:providerSidebar"/>
        </div>
        <div class="col-md-9">
            <div class="row">
                <table class="table">
                    <tr>
                        <th>项目名称</th>
                        <th>项目人数</th>
                        <th>项目金额</th>
                        <th>启动时间</th>
                        <th>竞标截止日</th>
                        <th>竞标底价</th>
                        <th>标书价格</th>
                        <th>购买标书竞价</th>
                        <th>中标价</th>
                    </tr>
                    <tr>
                        <td>{$name}</td>
                        <td>{$people}</td>
                        <td>{$price}</td>
                        <td>{$starttime}</td>
                        <td>{$endtime}</td>
                        <td>{$stoptime}</td>
                        <td>{$price}</td>
                        <td>{$priceon}</td>
                        <td>{$priceget}</td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <span>总金额：</span><span>{$pricetotal}</span>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <input class="btn" type="button" value="确认支付"/>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Public:footer"/>
