<include file="Public:header"/>
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-3 sidebar">
            <include file="Public:providerSidebar"/>
        </div>
        <div class="col-md-9">
            <div class="row">
                <table class="table">
                    <tr>
                        <th>项目</th>
                        <th>总人数</th>
                        <th>体检起始日</th>
                        <th>签订合同</th>
                        <th>名单状态</th>
                        <th>预付款</th>
                    </tr>
                    <tr>
                        <td>${project}</td>
                        <td>${num}</td>
                        <td>${starttime}</td>
                        <td><input type="button" class="btn" value="模板下载"/>${has}</td>
                        <td>已上传<input type="button" class="btn" value="下载"/></td>
                        <td>已付</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<include file="Public:footer"/>