<include file="Public:header"/>
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-3 sidebar">
            <include file="Public:providerSidebar"/>
        </div>
        <div class="col-md-9">
            <h4>邀请码：${invitecode}</h4>
            <div class="row">
                <table class="table">
                    <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <th>折扣</th>
                        <th>是否兑现</th>
                    </tr>
                    <tr>
                        <td>{$id}</td>
                        <td>{$username}</td>
                        <td>{$discount}</td>
                        <td>{$cash}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<include file="Public:footer"/>